<ion-header>
  <ion-toolbar>
    <ion-title>{{marker?.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Adress: </ion-label>
      <ion-text>{{id}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Description: </ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>StartDate: </ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-label>StopDate: </ion-label>
      <ion-text></ion-text>
    </ion-item>
    <ion-item>
      <ion-button>Join event</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
