<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat / Social
    </ion-title>
    <ion-icon slot="end" name="add-outline" id="open-modal" expand="block" class="icons"></ion-icon>
    <ion-icon slot="end" name="notifications-outline" class="icons"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment id="chat-tabs"  value="default">
    <ion-segment-button (click)="showContent('Friends')" value="Friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="showContent('Groups')" value="Groups">
      <ion-label>Groups</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="showContent('Communities')" value="Communities">
      <ion-label>Communities</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
  <!--Create chat modal-->
  <ion-modal class="modal-size" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <form [formGroup]="createChatData">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon class="icons" slot="end" name="close-outline" (click)="cancel()"></ion-icon>
          </ion-buttons>
          <ion-title>Start a chat</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-input></ion-input>
      <ion-content class="ion-padding">
        <ion-list>
          <div *ngFor="let entry of usersList; let index">
          <ion-item >
            <ion-avatar slot="start">
              <img [src]="'https://picsum.photos/80/80?random=' + index" alt="avatar"/>
            </ion-avatar>
            <ion-checkbox alignment="end" (click)="getSelectedBox(entry)"> {{entry.name}}</ion-checkbox>
          </ion-item>
          </div>
        </ion-list>
        

        <ion-infinite-scroll threshold="550px" (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button type="submit" slot="end" shape="round" (click)="createChat()">Create</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
    </form>
  </ion-modal>

  <!-- Content for Friends tab -->
  <div *ngIf="selectedTab === 'Friends'">
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">1</p>
        </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">99</p>
        </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JohnDoe</ion-label>
        <p>
          <ion-text>
            Hello world
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>


    <ion-item *ngFor="let chatroom of (chatroomsData | async)" (click)="invidChat(chatroom)">
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@{{ chatroom?.chatroom_data?.Chatroom?.Title }}</ion-label>
        <p>
          <ion-text>
            Hello i am real person yes yes skibidi
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>
    

  </div>

  <!-- Content for Groups tab -->
  <div *ngIf="selectedTab === 'Groups'">
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@Timmie, @Jimmy, @Nicolas</ion-label>
        <p>
          <ion-text>
            @Jimmy: Dette er en test for at se om hvis chat virker
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">1</p>
        </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>Social Vibes</ion-label>
        <p>
          <ion-text>
            @Vidar: Captain Social Vibes returns!!!
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">99</p>
        </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>The Boys</ion-label>
        <p>
          <ion-text>
            @Jared: Guys gyus i need help with something
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>
  </div>

  <!-- Content for Communities tab -->
  <div *ngIf="selectedTab === 'Communities'">
    <!-- Insert your Communities content here -->
  </div>
  

  
</ion-content>
