<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat / Social
    </ion-title>
    <ion-icon slot="end" name="notifications-outline" class="notification-bell"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item id="chat-tabs" class="ion-margin-top ion-margin-bottom">
    <ion-tab-button (click)="showContent('Friends')">Friends</ion-tab-button>
    <ion-tab-button (click)="showContent('Groups')">Groups</ion-tab-button>
    <ion-tab-button (click)="showContent('Communities')">Communities</ion-tab-button>
  </ion-item>

  <!-- Content for Friends tab -->
  <div *ngIf="selectedTab === 'Friends'">
    <ion-item (click)="invidChat()">
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">1</p>
        </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">99</p>
        </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JohnDoe</ion-label>
        <p>
          <ion-text>
            Hello world
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>



    <ion-item *ngFor="let chatroomId of (invidChatsData?.Chatrooms | keyvalue)">
      <!-- Customize the content based on your chatroom data -->

      
    </ion-item>

  </div>

  <!-- Content for Groups tab -->
  <div *ngIf="selectedTab === 'Groups'">
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@Timmie, @Jimmy, @Nicolas</ion-label>
        <p>
          <ion-text>
            @Jimmy: Dette er en test for at se om hvis chat virker
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">1</p>
        </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>Social Vibes</ion-label>
        <p>
          <ion-text>
            @Vidar: Captain Social Vibes returns!!!
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">99</p>
        </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>The Boys</ion-label>
        <p>
          <ion-text>
            @Jared: Guys is femboy gay, asking for a friend
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>
  </div>

  <!-- Content for Communities tab -->
  <div *ngIf="selectedTab === 'Communities'">
    <!-- Insert your Communities content here -->
  </div>
  

  
</ion-content>
