<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat / Social
    </ion-title>
    <ion-icon slot="end" name="add-outline" id="open-modal" expand="block" class="icons"></ion-icon>
    <ion-icon slot="end" name="notifications-outline" class="icons"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment id="chat-tabs"  value="default">
    <ion-segment-button (click)="showContent('Friends')" value="Friends">
      <ion-label>Friends</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="showContent('Groups')" value="Groups">
      <ion-label>Groups</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="showContent('Communities')" value="Communities">
      <ion-label>Communities</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  
  <!--Create chat modal-->
  <ion-modal class="modal-size" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <form [formGroup]="createChatData">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon class="icons" slot="end" name="close-outline" (click)="cancel()"></ion-icon>
          </ion-buttons>
          <ion-title>Start a chat</ion-title>
        </ion-toolbar>
        <ion-toolbar>
          <ion-searchbar></ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-input></ion-input>
      <ion-content class="ion-padding">
        <ion-list>
        
          <div *ngFor="let entry of usersList; let index">
          <ion-item >
            <ion-avatar slot="start">
              <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="avatar"/>
            </ion-avatar>
            <ion-checkbox alignment="end" (click)="getSelectedBox(entry)"> {{entry.name}}</ion-checkbox>
          </ion-item>
          </div>
        </ion-list>
      
        <ion-infinite-scroll threshold="50%" (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button type="submit" slot="end" shape="round" (click)="createChat()">Create</ion-button>
        </ion-toolbar>
      </ion-footer>
    </ng-template>
    </form>
  </ion-modal>

  <!-- Content for Friends tab -->
  <div *ngIf="selectedTab === 'Friends'">
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">1</p>
        </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JanneDoe</ion-label>
        <p>
          <ion-text>
            Latest message
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>11:45</p>
          <p class="number-of-messages">99</p>
        </ion-text>
    </ion-item>
  
    <ion-item>
      <ion-avatar class="chat-profile" slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <ion-label>@JohnDoe</ion-label>
        <p>
          <ion-text>
            Hello world
          </ion-text>
        </p>
        </ion-label>
        <ion-text class="ion-text-center" slot="end" color="medium">
          <p>01:30</p>
          <p class="number-of-messages-none"></p>
        </ion-text>
    </ion-item>


<!-- Replace chatroomsArray with individualChats -->
<ion-item *ngFor="let chatroom of individualChats" (click)="invidChat(chatroom)">
  <ion-avatar class="chat-profile" slot="start">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-label>
    <ion-label>@{{ chatroom?.Title }}</ion-label>
    <p>
      <ion-text>
        {{ chatroom?.LastMessage?.Message || 'No messages' }}
      </ion-text>
    </p>
  </ion-label>
  <ion-text class="ion-text-center" slot="end" color="medium">
    <p>01:30</p>
    <p class="number-of-messages-none"></p>
  </ion-text>
</ion-item>

    

  </div>

  <!-- Content for Groups tab -->
  <div *ngIf="selectedTab === 'Groups'">

<ion-item *ngFor="let chatroom of groupChats" (click)="invidChat(chatroom)">
  <ion-avatar class="chat-profile" slot="start">
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <ion-label>
    <ion-label>@{{ chatroom?.Title }}</ion-label>
    <p>
      <ion-text>
        {{ chatroom?.LastMessage?.Message || 'No messages' }}
      </ion-text>
    </p>
  </ion-label>
  <ion-text class="ion-text-center" slot="end" color="medium">
    <p>01:30</p>
    <p class="number-of-messages-none"></p>
  </ion-text>
</ion-item>

  </div>

  <!-- Content for Communities tab -->
  <div *ngIf="selectedTab === 'Communities'">
    <div class="ion-margin-top ion-margin-start">
      <ion-text color="primary">New communities</ion-text>
    </div>
    <ion-segment *ngFor="let community of communitiesArray" [scrollable]="true">
      <ion-segment-button id="click-trigger" value="Demark">
        <ion-card>
          <img class="communities-image" alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>{{ community?.Title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-popover trigger="click-trigger" triggerAction="click" size="cover">
          <ng-template>
            <ion-button (click)="clickToJoinCommunity(community?.ChatroomID)" class="communities-join">Join</ion-button>
          </ng-template>
        </ion-popover>
      </ion-segment-button>
    </ion-segment>

    <div class="ion-margin-top ion-margin-start">
      <ion-text color="primary">Joined communities</ion-text>
    </div>
  <ion-item>
    <ion-avatar class="chat-profile" slot="start">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>
      <ion-label color="primary">Denmark</ion-label>
      <p>
        <ion-text color="medium">
          @Knud: Screw Sweden
        </ion-text>
      </p>
      </ion-label>
      <ion-text class="ion-text-center" slot="end" color="primary">
        <p>01:30</p>
      </ion-text>
  </ion-item>
  </div>
  
</ion-content>
