.frontpage-login {
  padding-top: 100px;
}

.frontpage-name {
    text-align: center;
  }
.frontpage-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  }
  .recently-logged{
    padding-top: 20px;
  }
  