<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Social Vibes</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-img src="assets/img/SocialVibesIcon.png"></ion-img>



  <ion-item class="frontpage-login">
    <ion-input class="frontpage-name" placeholder="Enter name"></ion-input>
  </ion-item>
  <ion-button (click)="login()" class="frontpage-button">Login</ion-button>


  <ion-item class="recently-logged">
    <ion-select label="Log in with recent users" placeholder="Users">
      <ion-select-option value="user1">Timmie</ion-select-option>
      <ion-select-option value="user2">Jimmy</ion-select-option>
      <ion-select-option value="user3">Nicolas</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="login()" class="frontpage-button">Login</ion-button>

</ion-content>