<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      
    </ion-toolbar>
  </ion-header>

<ion-img src="assets/img/SocialVibesIcon.png"></ion-img>



  <ion-item class="frontpage-login">
    <ion-input class="frontpage-name" placeholder="Login Default user"></ion-input>
  </ion-item>
  <ion-button (click)="login()" class="frontpage-button">Login</ion-button>


  <ion-list>
    <ion-item>
      <!--Shows all the diffrent users in the backend-->
      <ion-label>Select a user</ion-label>
      <ion-select placeholder="Users" [(ngModel)]="selectedUserId">
        <ion-select-option *ngFor="let user of allUsersData | keyvalue" [value]="user.key">
          {{ user.value.Name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="login()" class="frontpage-button">Login</ion-button>

</ion-content>