capacitor-google-map {
    display: inline-block;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-content ion-back-button {
    margin-right: 10px;
  }
  