<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header-content">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      <ion-title>Create Event</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input label="Title" #titleInput  [(ngModel)]="title" placeholder="Enter Title"/>
  </ion-item>
  <ion-item>
    <ion-textarea label="Descriptions" [(ngModel)]="descriptions"  placeholder="Enter Descriptions"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-input label="Adresse" type="street-adress" [(ngModel)]="adresse"   placeholder="Enter Adresse"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Start date and time</ion-label>
    <ion-datetime-button datetime="starttime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime min="{{currentDate}}" [(ngModel)]="starttime" locale="dk-DK" hourCycle="h23" id="starttime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label>End date and time</ion-label>
    <ion-datetime-button datetime="endtime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime min="{{currentDate}}" [(ngModel)]="endtime" locale="dk-DK" hourCycle="h23" id="endtime"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <capacitor-google-map #createmap></capacitor-google-map>
</ion-content>

<ion-footer>
  <ion-button (click)="postEvent(title, descriptions, adresse, starttime, endtime)">Create event</ion-button>
</ion-footer>
